---
permalink: /
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    
    {% if site.favicon_img %}
    <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ "css/front.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script type="text/javascript">
    function myhref(web){
      window.location.href = web;}
    </script>    
  </head>
  <body>
    <div class="content">
      {% if site.front_img %}
      <img src="{{ site.front_img_path }}" id="fullscreen">
      {% endif %}

      {% if site.avatar %}
      <img src="{{ site.avatar_img_path }}" id="avatar">
      {% endif %}

      <h1>{{ site.name }}</h1>
      <h3>{{ site.description }}</h3>

      <div class="container text-center">
	<!-- About Me -->
	<div class="card-container"
		onclick="myhref('aboutme.html');">
	    <div class="card" >
	      <div class="front" style="background:#C0C0C0;">
		<span class="fa fa-user"
			style="font-size: 200%"></span>
	      </div>
	      <div class="back" style="background:#C0C0C0;">
		about me</div>
	    </div>
	</div>
	</a>
	
	<!-- Publication -->
	<div class="card-container" onclick="myhref('project.html');">
	  <div class="card">
	    <div class="front">
	      <span class="fa fa-laptop"
		      style="font-size: 180%"></span>
	    </div>
	    <div class="back">survey me</div>
	  </div>
	</div>
	
	<!-- Linkedin -->
        {% if site.linkedin_username %}
	<div class="card-container" onclick="myhref('https://linkedin.com/in/{{ site.linkedin_username }}');">
	    <div class="card">
	      <div class="front" style="background:#0077B5;">
		<span class="fa fa-linkedin"
			style="font-size: 180%"></span>
	      </div>
	      <div class="back" style="background:#0077B5;">
		connect me</div>
	    </div>
	</div>
        {% endif %}

	<!-- github -->
        {% if site.github_username %}
	<div class="card-container" onclick="myhref('https://github.com/{{ site.github_username }}');">
	  <div class="card">
	    <div class="front" style="background:#000000;">
	      <span class="fa fa-github"
		      style="font-size: 200%"></span>
	    </div>
	    <div class="back" style="background:#000000;">
	      fork me</div>
	  </div>
	</div>
        {% endif %}
	
	<!-- Mail -->
        {% if site.email %}
	<div class="card-container" onclick="myhref('mailto:{{ site.email }}');">
	  <div class="card">
	    <div class="front" style="background:#006400;">
	      <span class="fa fa-2x fa-envelope"
		      style="font-size: 180%"></span>
	    </div>
	    <div class="back" style="background:#006400;">
	      contact me</div>
	  </div>
	</div>
        {% endif %}

	<!-- Blog -->
        {% if site.blog_url %}
	<div class="card-container" onclick="https://github.com/{{ site.github_username }}">
	  <div class="card">
	    <div class="front" style="background:#FE1106;">
	      <span class="fa fa-book"
		      style="font-size: 200%"></span>
	    </div>
	    <div class="back" style="background:#FE1106;">
	      read me</div>
	  </div>
	</div>
        {% endif %}
	
	<!-- Facebook -->
        {% if site.facebook_username %}
	<div class="card-container" onclick="https://facebook.com/{{ site.facebook_username }}">
	  <div class="card">
	    <div class="front" style="background:#305097;">
	      <span class="fa fa-2x fa-facebook"
		      style="font-size: 200%"></span>
	    </div>
	    <div class="back" style="background:#305097;">
	      add me</div>
	  </div>
	</div>
        {% endif %}
	
	<!-- Flickr -->
        {% if site.flickr_username %}
	<div class="card-container" onclick="https://flickr.com/photos/{{ site.flickr_username }}">
	  <div class="card">
	    <div class="front" style="background:#ff0084;">
	      <span class="fa fa-camera"
		      style="font-size: 180%"></span>
	    </div>
	    <div class="back"  style="background:#ff0084;">
	      explore me</div>
	  </div>
	</div>
        {% endif %}
	
	<!-- Twitter -->
        {% if site.twitter_username %}
	<div class="card-container" onclick="https://twitter.com/{{ site.twitter_username }}">
	  <div class="card">
	    <div class="front" style="background:#00aced;">
	      <span class="fa fa-2x fa-twitter"
		      style="font-size: 200%"></span>
	    </div>
	    <div class="back"  style="background:#00aced;">
	      follow me</div>
	  </div>
	</div>
        {% endif %}
	
      </div>      
    </div>

  </body>
</html>
